html {
  padding: 10px;
}

/* Header with elements */
.header-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 1100px;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 5px 0;
  background-color: #00B358;
}

.logo {
  width: 30px;
  padding: 5px;
}

.log-button {
  border-radius: 3px;
  color: #FFF;
  background-color: #0095ff;
  border: 1px solid #07c;
  box-shadow: inset 0 1px 0 #66bfff;
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
}

/* Sidebar with navElements */
.content-wrapper {
  display: flex;
}

.sidebar-block {
  margin: 0 5px 0 0;
  background-color: #00B358;
}

div.sidebar-block .list-item ul {
  margin: 10px 0 0 0;
  padding: 0 40px 0 20px;
  list-style-type: none;
}

.list-item ul li:last-child {
  margin: 20px 0 0 0;
}

.main-photo {
  width: 963px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  height: 150px;
  width: 120px;
}

.info {
  padding: 0px 0px 0px 20px;
}

p {
  margin: 0;
}

/* Posts on the wall. */
.header-post {
  padding: 0px 10px;
}

.posts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.post-area {
  margin: 10px 10px;
  height: 70px;
  width: 960px;
  background-color: #bdbdbd;
}

.post-image {
  width: 40px;
}

.post-message {
  padding: 0 10px;
}

.submit-button {
  margin-right: 10px;
  align-self: flex-end;
  border-radius: 2px;
  background-color: #0095ff;
}

/* Group of people and their messages. */
.dialogs-wrapper {
  display: flex;
  padding-top: 10px;
}

.group-list {
  border-right: 1px solid grey;
  margin-right: 25px;
  padding-right: 25px;
}

.group-list li {
  margin: 25px;
}

.avka-message {
  width: 40px;
  border-radius: 2px;
  margin-top: 15px;
}

/* Login form. */
.login-wrapper {
  display: flex;
  width: 20%;
  background: #ececec75;
  margin-left: 40%;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  box-shadow: 0 0 15px rgba(134, 134, 134, 0.39);
}

.login-block {
  display: flex;
  flex-direction: column;
}

.login-block input {
  font-size: 14px;
  font-family: Atlas Grotesk Web, Open Sans, sans-serif;
  font-weight: 400;
  border-radius: 0;
  padding: 10px;
  margin-bottom: 10px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-button .log-button {
  margin: 0;
}

.user-item {
  color: yellow;
}
